
span {
    margin-top: 20px;
    margin-left: 12px;
    color: black;
    display: inline-block;
}

.div_r {
    float: right;
    display: block;
}

#ashu {
    border: 2px solid black;
    width: 28%;
    margin: auto;
    height: 70vh;
    background-color: #ccccff;
}

#p {
    padding: 20px;
    text-align: center;
}

.a {
    text-align: right;
}

#p button {
    
    width: 40%;
    height: 30px;
    background-color: #ffb76f;
}

#temp {
    background-color: #ffb76f;
}

hr {
    border-color: black;
    border: none;
    height: 2px;
    background: black;
}

p {
    padding: 0px;
}

button:hover {
    cursor: pointer;
}

.p {
    padding: 6px;
}

.l {
    text-align: center;
    width: 80%;
    color: black;
    background-color: #98B4D4;
    margin-bottom: 1em;
}



.mn {
    background-color: #efe4b0;
    color: black;
    display: inherit;
    width: 50px;
}

#append td {
    overflow: hidden;
}

.m {
    text-align: center;
    width: 80%;
    background-color: #98B4D4;
    margin-bottom: 1em;
}

table {
    width: 100%;
}

table.fixed {
    table-layout: fixed;
}

table.fixed td {
    overflow: hidden;
}

th {
    width: 50px;
    text-align: center;
    background-color: #ccccff;
    margin-bottom: 1em;
}
